body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
}

header{
    background-color: #2ca5d9;
    color: #fff;
    padding: 16px;
    text-align: center;
}

h1{
    margin: 0;
    font-size: 24px;
}

.places-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
    gap: 24px;
}