body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
}

header{
    background-color: #2ca5d9;
    color: #fff;
    padding: 16px;
    text-align: center;
}